[Unit]
Description=Vbet Server
After=multi-user.target network.target redis.service postgresql.service


[Service]
Type=simple
User=vbet
Group=vbet
WorkingDirectory=/home/vbet/run
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/vbet/run/bin/vbet

[Install]
WantedBy=multi-user.target
