<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
  </head>
  <body>
    <p style="margin-top: 10px;"> Hello </p>
        <p> We have received a request to change your password. Follow the below link to complete the
        process.
            {{ link }}
        </p>
    <p style="margin: 5px">Thanks, &nbsp; <br />Vbettrader</p>
      <footer class="main-footer">
        <strong>
          Copyright &copy; 2020-2021
          <a href="https://vbettrader.com/home"> Vbet </a>
        </strong>
        . All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b> Email </b>
          support@vbettrader.com
        </div>
      </footer>
  </body>
</html>