<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
  </head>
  <body>
    <p style="margin-top: 10px;"> Hello </p>
    <p>Welcome to vbettrader, home to elite virtual bots.</p>
    <p>
        To continue you can download our application at &nbsp;
        <a href="https://vbettrader.com/home"> https://vbettrader.com/home</a>
    </p>
    <p style="margin: 20px;">
        Your One Time Password (OTP) is : {{pin}}.
    </p>
    <h3 style="margin-top: 10px"> Instructions and Policies</h3>
    <p>
       We encourage a one provider one account policy to ensure compliance with most providers regulations.
    </p>
    <p>
        To ensure security, we do not store the login credentials of your provider. Only the current
        session has to be authenticated. If your provider supports one time login then a login on every
        session is not required.
    </p>
    <p>
        Trying to use a provider account previously registered with us by a different user on our
        platform will not work.
    </p>
    <b>
        Kindly note never to interrupt the system by manually simulating or playing a currently live
        competition. It will corrupt your current running player and all its tickets for that week as a week
        cannot be replayed after results are given.
    </b>
    <p>
        We store all tickets placed to ensure we improve the accuracy of the system. Any tickets placed
        outside our system on your provider account are not available to us.
    </p>
    <p>
        A high trust score will increase your maximum daily profit limit.
    </p>
    <p>
        A late payment will lower your maximum daily profit limit. After <b> 3 </b>
        late payments the account will be subject to suspension.
    </p>
    <h3 style="margin-top: 20px"> Payment methods </h3>
    <ul>
        <li> Paypal </li>
        <li> Mpesa </li>
        <li> PerfectMoney </li>
        <li> Skrill </li>
        <li> Bitcoin </li>
        <li> Bank Transfer </li>
    </ul>
    <p style="margin-top: 5px;">
        Read and accept the terms and conditions of the application during installation.
    </p>
    <p>
        Responsible gambling.
    </p>
    <p style="margin: 5px">Thanks, &nbsp; <br />Vbettrader</p>
      <footer class="main-footer">
        <strong>
          Copyright &copy; 2020-2021
          <a href="https://vbettrader.com/home"> Vbet </a>
        </strong>
        . All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b> Email </b>
          support@vbettrader.com
        </div>
      </footer>
  </body>
</html>